body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #a8c6c3;
}

#calorieInput {
    margin-bottom: 80px;
    margin-top: 20px;
}